<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../template/style.css">
    </head>
    <body>
    <div>
        <div id="wrapper">
            <div>
                <h1>Log in</h1>
                <form method="post" action="/Tasks">
                    <input type="text" name="names"/>
                    <input type="text" name="keys"/>
                    <input type="submit"/></form>
                <form method="post" action="/SignUp">
                    <input type="text" name="names"/>
                    <input type="text" name="NewKey"/>
                </form>

            </div>
        </div>
    </div>
    </body>
</html>
