<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Times+New+Roman&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
    <link href="../static/css/menu.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v9_136"><span class="v2_90">Log in</span>
    <div class="v2_104"></div>
    <span class="v2_108">Registration</span>
    <div class="v23_11"></div>
    <span class="v23_12">OK</span>
    <div class="v23_311"></div>
    <div class="v23_312"></div>
    <span class="v23_313">Email:</span><span class="v23_314">Password:</span></div>
</body>
</html>