<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../static/css/main.css">
    </head>
    <body>
     <form action="action_page.php">
  <div class="container">
    <h1>Register</h1>
    <p>Пожалуйста зарегистрируйся</p>
    <hr>

    <label for="login"><b>Login</b></label>
      <label>
          <input type="text" placeholder="Enter Login" name="login" required>
      </label>

      <label for="psw"><b>Password</b></label>
      <label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      </label>
      <hr>
      <button type="submit" class="registerbtn">Register</button>
  </div>
</form>
