<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Start.css" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.00.5.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="start start-block layout">
      <img
        src="/assets/4fcee1984f08660f81851e07f7fdbc80.png"
        alt="Profile"
        class="start-icon1 layout"
      />
      <div class="start-flex layout">
        <div class="start-flex-item">
          <div class="start-group layout">
            <div class="start-cover-block2 layout">
              <div
                style="--src:url(/assets/3f7bd30a292ab0f477ce78242f881406.png)"
                class="start-cover layout"
              ></div>
              <div class="start-foreground2 layout">
                <px-posize x="209fr 69px 656fr" y="2px 69px 0px"
                  ><div
                    class="start-icon"
                    style="--src:url(/assets/b3524398d55600476da42be60a406e91.png)"
                  ></div
                ></px-posize>
                <div
                  style="--src:url(/assets/6b2759567e574600cd61c1e4e5b0d876.png)"
                  class="start-image1 layout"
                ></div>
                <div class="start-block3 layout">
                  <div
                    style="--src:url(/assets/e662ecce22268d9b373a407da64395ec.png)"
                    class="start-image2 layout"
                  ></div>
                  <div
                    style="--src:url(/assets/eb9b77a3ad9238085526affba430ea30.png)"
                    class="start-image3 layout"
                  ></div>
                </div>
              </div>
            </div>
            <div
              style="--src:url(/assets/ccae781c9d9abae8a91fe87cf3a30faf.png)"
              class="start-image layout"
            ></div>
          </div>
        </div>
        <div class="start-flex-spacer"></div>
        <div class="start-flex-item">
          <div class="start-block1 layout">
            <div class="start-block4 layout">
              <div class="start-block5 layout">
                <div class="start-cover-block1 layout">
                  <div
                    style="--src:url(/assets/2fe69f5703e86a00a612a71679b8a9c0.png)"
                    class="start-cover1 layout"
                  ></div>
                  <div class="start-foreground1 layout">
                    <div class="start-group layout1">
                      <div
                        style="--src:url(/assets/4092e141bc62c8a384178e70d732859b.png)"
                        class="start-icon6 layout"
                      ></div>
                      <div
                        style="--src:url(/assets/1f3e5da954784b9039dbd93a28ae4030.png)"
                        class="start-icon7 layout"
                      ></div>
                    </div>
                    <h1 class="start-hero-title layout">
                      Я взялся за работу, буду делать всё постепенно.
                    </h1>
                    <h1 class="start-big-title layout">[время в работе]</h1>
                  </div>
                </div>
                <div
                  style="--src:url(/assets/628c9e0df825ebdd28abe30587379d32.png)"
                  class="start-image layout1"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="start-flex-spacer"></div>
        <div class="start-flex-item1">
          <div class="start-block2 layout">
            <div class="start-cover-block layout">
              <div
                style="--src:url(/assets/63be0247795dd77a54cd3fa43c114c7d.png)"
                class="start-cover2 layout"
              ></div>
              <div class="start-foreground layout">
                <h1 class="start-hero-title layout1">
                  Всё сделал, жду оплаты.
                </h1>
                <h1 class="start-big-title1 layout">[время затраченное]</h1>
                <div class="start-block7 layout">
                  <div
                    style="--src:url(/assets/730111b318a4008eb2710dcb238cd0f3.png)"
                    class="start-icon2 layout"
                  ></div>
                  <div
                    style="--src:url(/assets/c6b0f80ed2bc2f20325317f8b557c6eb.png)"
                    class="start-icon5 layout"
                  ></div>
                </div>
                <div class="start-block6 layout">
                  <div
                    style="--src:url(/assets/3bd534a8db390a4be3c357b9d2e5cd3b.png)"
                    class="start-icon3 layout"
                  ></div>
                  <div
                    style="--src:url(/assets/0d251548fe82e7389eb1dd448172a5e7.png)"
                    class="start-icon4 layout"
                  ></div>
                </div>
              </div>
            </div>
            <div
              style="--src:url(/assets/55ea9b7eaabe4364df975e4a256b29d1.png)"
              class="start-image layout2"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
